body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #0073b1;
    margin-bottom: 20px;
}

header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

header div {
    flex: 1;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #0073b1;
}

header p {
    margin: 5px 0;
    color: #555;
    font-size: 1em;
}

header a {
    color: #0073b1;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

section {
    margin: 20px 0;
}

h2 {
    margin-top: 0;
    color: #0073b1;
    border-bottom: 2px solid #0073b1;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border: none;
}

.position {
    font-weight: bold;
    color: #333;
}

.company {
    color: #777;
    margin-bottom: 5px;
}

.date {
    color: #555;
    font-style: italic;
}

.about p {
    margin: 0;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills div {
  background: #7291a2;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1em;
  display: inline-block;
}